.board-details {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding-inline-start: 20px;

    .board-header, .board-tabs, .task-actions {
        display: flex;
        flex-shrink: 0;
    }

    .board-header {
        justify-content: space-between;

        button {
            @include btn
        }

        .board-title {
            position: relative;

            &::before {
                position: absolute;
                right: -30px;
                top: -5px;
                content: "⌄";
            }
        }

        .board-actions {
            display: flex;
        }
    }

    .task-actions {
        align-items: center;

        > button {
            @include btn;
            width: unset;

        }
        .toggle-board-tabs {
            height: 24px;
            width: 24px;

            padding: 0;
            border-radius: 50%;
        }
    }
}