.login-signup{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 100%;

	h3 {
		font-size: 1rem;

		span {
			cursor: pointer;
			color: $clr7;
			
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.login-signup-form {
		display: grid;
		gap: $spacing-xs;

		width: min(80%, 512px);	
		padding: 1em;
	
		.login-signup-input{
			display: flex;
			flex-direction: column;
			gap: $spacing-xs;

			label{
				font-size: 14px;
			}
		
			input{
				
				height: 48px;
				border: none;
				border-radius: 4px;
				padding: 8px 16px;
				margin: 0;
		
				outline: 1px solid black;
	
				&:focus{
					outline-color: $clr7;
				}	
			}
		}

		.upload-preview{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			height: 48px;
			border-radius: 4px;
			padding: 8px 16px;
			outline: 1px solid black;

			input{
				outline: none;
			}
		}

		button {
			height: 48px;
			background-color: $clr7;
			border-radius: 4px;

			color: white;
			font-size: 18px;
		}
	}
}

