.add-task {
	position: sticky;
	left: 40px;
	
	display: flex;
	height: $task-row-height;

	border-block-end: 1px solid $clr8;

	background-color: #ffff;

	font-size: rem(14px);
	cursor: text;

	z-index: 1;

	.sticky-container {
		display: flex;
		z-index: 2;
	}

	.colored-border {
		border-radius: 0 0 0 4px;
	}

	&:hover .add-task-input {
		outline: 1px solid $input-hover-border-clr;
		border-radius: 4px;
	}

	border-bottom-left-radius: 4px;

	form {
		display: flex;
		align-items: center;
		padding-inline-start: 10px;
	}

	.add-task-input {
		all: unset;
		margin: 0;
		padding-inline-start: 10px;
		line-height: 24px;

		max-width: 177px;
		height: 24px;
	}

	.check-box {
		height: 13px;
		width: 13px;
	}
}
