.context-menu {
	display: flex;
	flex-direction: column;

	width: 256px;

	padding: 8px;
	border-radius: $radius;
	margin: 0;

	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
	background-color: $clr3;

	button {
		display: flex;
		align-items: center;
		gap: 6px;

		height: 32px;

		padding: 4px 8px;
		text-align: start;
		background-color: unset;

		svg {
			color: #676879;
		}
	}
}
