.popper-container {
	z-index: 999;
}

.group-preview {
	position: relative;
	display: grid;
	grid-template-columns: subgrid;
	
	min-width: max-content;
	
	border-radius: 4px;
	margin-block-end: 28px;

	line-height: 24px;
	font-size: em(18px);

	background-color: $clr3;

	.group-header-wrapper, li.add-task {
		margin-inline-start: 40px;
	}

	.task-preview > * {
		display: flex;
		align-items: center;
	}

	.group-header-wrapper {
		display: grid;
		grid-template-columns: subgrid;
		z-index: 20;
	}
}