.group-list {
	position: relative;

	display: grid;
	grid-template-columns: minmax(220px, auto) 1fr;
	padding: 0px 0px 40px;

	@media (min-width: $mobile-breakpoint) {
		padding-block-end: 40px;
	}

	h4 {
		font-size: rem(18px);
	}

	> * {
		display: grid;
		grid-template-columns: subgrid;
	}

	min-width: 1100px;

	.sticky-header-container {
		position: sticky;
		top: 138px;
		display: none;
		
		background-color: $clr3;
		z-index: 40;

		&.show {
			display: grid;
		}

		.group-header-wrapper {
			display: grid;
			grid-template-columns: subgrid;
		}

		.sticky-container > *:not(.colored-border), .task-columns {
			box-shadow: 4px 6px 15px -8px #c3c6d4;
		}
	}

	.context-btn-container {
		position: sticky;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 36px;
		width: 40px;

		background-color: $clr3;
	}

	.group-context-menu {
		@include context-menu
	}

	.group-header:hover .group-context-menu {
		opacity: 1;
	}

	.toggle-group-preview {
		position: sticky;
		left: 46px;
		display: flex;
		justify-content: center;
		align-items: center;


		padding: 0 6px;
		margin: 0 5px;
		background-color: unset;

		svg {
			height: 22px;
			width: 22px;
		}
	}

	.colored-border {
		height: calc(100% + 1px);
		width: 6px;

		flex-shrink: 0;
	}

	.group-title-container {
		position: sticky;
		top: 138px;
		left: 84px;

		display: flex;
		align-items: center;
		height: 40px;

		background-color: $clr3;

		h4 {
			position: sticky;
			left: 84px;
		}
	}

	.add-group-btn {
		position: sticky;
		// Ignore in regards to mq
		// left: $task-row-height;
		border: 1px solid rgb(195, 198, 212);
		border-radius: 4px;
		height: em(32px);
		width: 141px;
		padding: 4px 8px;
		gap: 5px;
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		.txt {
			text-wrap: nowrap;
			color: rgb(50, 51, 56);
			font-size: rem(14px);
		}
	}
}
