.popper-container {
	z-index: 999;
}

.group-preview {
	position: relative;
	display: grid;
	grid-template-columns: subgrid;
	
	min-width: max-content;
	
	border-radius: 4px;
	margin-block-end: 28px;

	line-height: 24px;
	font-size: em(18px);

	background-color: $clr3;

	.task-preview > * {
		display: flex;
		align-items: center;
	}
	.colored-border {
		height: calc(100% + 1px);
		width: 6px;
		min-width: 6px;
	}

	.group-title-container {
		position: sticky;
		top: 138px;

		display: flex;
		align-items: center;
		height: 40px;

		background-color: $clr3;

		z-index: 20;

		.toggle-group-preview {
			position: sticky;
			left: 6px;
			display: flex;
			justify-content: center;
			align-items: center;


			padding: 0 6px;
			margin: 0 5px;
			background-color: unset;

			svg {
				height: 22px;
				width: 22px;
			}
		}

		h4 {
			position: sticky;
			left: 46px;
		}
	}
}