.group-list {
	position: relative;

	display: grid;
	grid-template-columns: minmax(220px, auto) 1fr;

	padding: 0px 0px 40px;

	@media (min-width: $mobile-breakpoint) {
		padding-block-end: 40px;
	}

	h4 {
		font-size: rem(18px);
	}

	> * {
		display: grid;
		grid-template-columns: subgrid;
	}

	min-width: 1100px;

	.add-group-btn {
		position: sticky;
		// Ignore in regards to mq
		// left: $task-row-height;
		border: 1px solid rgb(195, 198, 212);
		border-radius: 4px;
		height: em(32px);
		width: 141px;
		padding: 4px 8px;
		gap: 5px;
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		.txt {
			text-wrap: nowrap;
			color: rgb(50, 51, 56);
			font-size: rem(14px);
		}
	}
}
