.group-list {
	padding: 0px 0px 40px;
	overflow: auto;
	// overflow-x: hidden;

	@media (min-width: $mobile-breakpoint) {
		padding-block-end: 40px;
	}

	h4 {
		font-size: rem(18px);
	}

	.task-item-col {
        &.sticky-container,  // This targets the "Item" column
        &.check-box {       // This targets the checkbox column
            position: sticky;
            background-color: #fff;
            z-index: 30;
        }

        &.check-box {
            left: 0;
        }

        &.sticky-container {
            left: 32px; // Adjust based on your checkbox width
        }
    }

	.group-sticky-container {
		position: sticky;
		top: 0;

		z-index: 40;
		background-color: #ffff;

		.task-item-col {
            &.sticky-container,
            &.check-box {
                position: sticky;
                z-index: 41;
            }
        }
	}

	min-width: 1100px;

	.add-group-btn {
		position: sticky;
		// Ignore in regards to mq
		// left: $task-row-height;
		border: 1px solid rgb(195, 198, 212);
		border-radius: 4px;
		height: em(32px);
		width: 141px;
		padding: 4px 8px;
		gap: 5px;
		align-items: center;
		cursor: pointer;

		.txt {
			color: rgb(50, 51, 56);
			font-size: 14px;
		}
	}
}
