.task-preview {
	height: $task-row-height;

	&.active {
		background-color: $button-clicked-bgc;
		.sticky-container {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
		&:hover {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
	}

	

	.context-btn-container {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 36px;
		width: 40px;

		background-color: $clr3;
	}

	.task-context-menu {
		@include context-menu;
	}

	&:hover .task-context-menu {
		opacity: 1;
	}

	.sticky-container {
		position: sticky;
		left: 0;

		display: flex;
		align-items: center;
		height: calc($task-row-height);

		border-inline-end: 1px solid $clr8;
		border-block-end: 1px solid $clr8;
		width: 400px;

		background-color: $clr3;
		z-index: 30;
	}

	&:hover:not(.active) {
		.sticky-container {
			background-color: $task-hover-bgc;
		}
	}

	&:hover:not(.active) > *:not(.context-btn-container, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
	}

	.task-row > *,
	.task-col > *:not(.line-end) {
		border-inline-end: 1px solid $clr8;
	}

	li {
		height: $task-row-height;
	}

	&:hover:not(.active, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;

		.sticky-container {
			background-color: $task-hover-bgc;
			box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
		}
	}
}