.task-list {
	display: grid;
	grid-template-columns: subgrid;
	// display: flex;
	// flex-direction: column;
	// align-items: start;

	border-start-end-radius: 4px;
	border-start-start-radius: 4px;

	// > * {

	// 	display: grid;
	// 	grid-template-columns: subgrid;
	// }

	& > li {
		min-width: max-content;
		ul {
			min-width: max-content;
		}
		&:focus {
			ul {
				background-color: $button-clicked-bgc;
				outline: none;
			}
		}

		&:last-child {
			display: flex;
			width: 100%;
			justify-content: start;

			.check-box {
				border-inline-end: $border;
				margin-inline-end: 10px;
			}

			> .add-task li:last-child {
				display: flex;
				width: var(--left-side-width);
			}
		}
	}
}
