.task-preview {
	height: $task-row-height;
	display: flex;
	position: relative;

	@include for-mobile-only {
		min-width: max-content;
		margin-inline-start: 20px;

		.check-box {
			display: none;
		}
	}

	&.active {
		background-color: $button-clicked-bgc;
		.sticky-container {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
		&:hover {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
	}

	.context-btn-container {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 36px;
		width: 40px;

		background-color: $clr3;

		@include for-mobile-only {
			display: none;
		}
	}

	.task-context-menu {
		@include context-menu;
	}

	&:hover .task-context-menu {
		opacity: 1;
	}

	.sticky-container {
		position: sticky;
		left: 0;

		display: flex;
		align-items: center;
		height: calc($task-row-height);

		border-inline-end: 1px solid $clr8;
		border-block-end: 1px solid $clr8;
		width: 400px;

		background-color: $clr3;
		z-index: 30;

		@include for-mobile-only {
			width: 238px;
			position: sticky;
			left: 0;
			z-index: 31;
			box-shadow: 4px 0 6px -3px rgba(0, 0, 0, 0.1);

			.checkbox-wrapper {
				display: none;
			}
		}
	}

	.task-title {
		flex: 1;
		min-width: 0;
		padding-right: 8px;

		.title-main-container {
			display: flex;
			align-items: center;
			gap: 4px;
			width: 100%;

			@include for-mobile-only {
				width: 238px;
				padding-left: 8px;
			}
		}

		.add-update-btn {
			@include for-mobile-only {
				display: none;
			}
		}
	}

	.task-col {
		flex: 1;
		display: flex;
		
		@include for-mobile-only {
			overflow-x: auto;
			min-width: max-content;
			
			> * {
				flex-shrink: 0;
				min-width: 140px;
			}
		}
	}

	&:hover:not(.active) {
		.sticky-container {
			background-color: $task-hover-bgc;
		}
	}

	&:hover:not(.active) > *:not(.context-btn-container, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
	}

	.task-row > *,
	.task-col > *:not(.line-end) {
		border-inline-end: 1px solid $clr8;
	}

	li {
		height: $task-row-height;
	}

	&:hover:not(.active, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;

		.sticky-container {
			background-color: $task-hover-bgc;
			box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
		}
	}
}