.task-preview {
	height: $task-row-height;
	display: flex;
	position: relative;

	@include for-mobile-only {
		min-width: max-content;
		margin-inline-start: 20px;

		.check-box {
			display: none;
		}
	}

	&.active {
		background-color: $button-clicked-bgc;
		.sticky-container {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
		&:hover {
			background-color: $button-clicked-bgc;
			box-shadow: none;
		}
	}

	.context-btn-container {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 36px;
		width: 40px;

		background-color: $clr3;

		@include for-mobile-only {
			display: none;
		}
	}

	.task-context-menu {
		@include context-menu;
	}

	&:hover .task-context-menu {
		opacity: 1;
	}

	.sticky-container {
		position: sticky;
		left: 0;

		display: flex;
		align-items: center;
		height: calc($task-row-height);
		width: 400px;
		
		border-inline-end: 1px solid $clr8;
		border-block-end: 1px solid $clr8;

		background-color: $clr3;
		z-index: 30;

		@include for-mobile-only {
			width: 232px;
			position: sticky;
			left: 0;

			margin-inline-start: -20px;
			
			z-index: 31;
			box-shadow: 4px 0 6px -3px rgba(0, 0, 0, 0.1);

			.checkbox-wrapper {
				display: none;
			}
		}
	}

	.task-title {
		flex: 1;
		min-width: 0;

		.title-main-container {
			position: relative;
			display: flex;
			align-items: center;
			gap: 4px;
			width: calc(400px - 86px);

			@include for-mobile-only {
				width: calc(232px - 46px);
				padding-left: 8px;
			}

			.inline-edit {
				flex: 1;
				min-width: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@include for-mobile-only {
					margin-inline-start: 44px;
				}

				&:focus-within + .open-task-details {
					opacity: 0 !important;
					width: 0 !important;
					padding: 0 !important;
				}
			}

			.open-task-details {
				display: flex;
				align-items: center;
				gap: 4px;
				width: 0;
				overflow: hidden;
				opacity: 0;
				transition: all 0.2s;
				padding: 0;
				padding-right: 8px;
				border-radius: 4px;
				flex-shrink: 0;

				svg {
					width: 20px;
					height: 20px;
				}

				@include for-mobile-only {
					display: flex;
					
					span {
						display: none;
					}

					svg {
						width: 26px;
						height: 26px;
					}
				}
			}

			&:hover .open-task-details {
				opacity: 1;
				width: 80px;
				padding: 4px 8px;

				@include for-mobile-only {
					width: 45px;
					padding: 4px 8px;
				}
			}
		}

		.add-update-btn {
			@include for-mobile-only {
				display: none;
			}
		}
	}

	.task-col {
		flex: 1;
		display: flex;
		
		@include for-mobile-only {
			overflow-x: auto;
			min-width: max-content;
		}
		
		> * {
			flex-shrink: 0;
			min-width: 140px;
			width: 140px;
			border-inline-end: 1px solid $clr8;
			border-block-end: 1px solid $clr8;
			padding: 0 8px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&:hover:not(.active) {
		.sticky-container {
			background-color: $task-hover-bgc;
		}
	}

	&:hover:not(.active) > *:not(.context-btn-container, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
	}

	li {
		height: $task-row-height;
	}

	&:hover:not(.active, .popper-container) {
		background-color: $task-hover-bgc;
		box-shadow: 4px 3px 6px -3px $input-hover-border-clr;

		.sticky-container {
			background-color: $task-hover-bgc;
			box-shadow: 4px 3px 6px -3px $input-hover-border-clr;
		}
	}
}