.board-header-container {
    .invite-container {
        display: flex;

        height: 32px;

        border: $border;
        border-radius: 4px;
        margin-inline-end: 16px;

        & > :first-child {
            width: 70px;
            flex-grow: 1;

            border-inline-end: 1px solid $gray1;
            border-radius: 0;
            margin: 0;
        }

        & > :nth-child(2) {
            width: 32px;
            padding: 0;
            margin: 0;
        }
    }

    .task-actions {
        position: relative;

        align-items: center;
        padding-block: 16px;

        > button {
            @include alt-btn;

            width: unset;
            height: 30px;

            padding: 6px 12px 6px 8px;
            text-wrap: nowrap;

            &.active {
                background-color: $button-clicked-bgc;
            }
        }

        img {
            position: relative;
            height: 20px;
            width: 20px;

            border-radius: 100%;

            &.selected-member::before {
                position: absolute;
                content: '';

                height: 30px;
                width: 30px;
                border: 6px solid #d9f0ff;
            }
        }

        .header-add-group {
            @include filter-modal;
            padding: 8px;
            left: 72px;

            width: 220px;
            button {
                display: flex;
                align-items: center;
                gap: 8px;

                height: 32px;
                width: 100%;

                padding: 4px 8px;
                border-radius: 4px;
                margin: 0;
                background-color: unset;

                &:hover {
                    background-color: $hovered-btns;
                }
            }
        }

        .txt-filter-container {
            position: relative;

            &:hover input:not(:focus), &:hover input:not(:focus) + span{
                background-color: #ececf0;
            }

            > * {
                cursor: pointer;
            }

            span {
                position: absolute;
                top: 4px;
                left: 8px;

                color: $clr4;
            }

            .txt-filter {
                // @include alt-btn;
                height: 30px;
                width: 240px;

                padding-inline-start: 29px;
                border: $border;
                border-color: $blue3;
                border-radius: 4px;
                transition: width .1s ease-in-out;
                
                
                &:not(:focus) {
                    width: 90px;
                    padding-inline-start: 30px;
                    border: 0;

                    &::placeholder {
                        color: $txt-clr;
                    }
                }
            }
        }

        .filter-by-member {
            @include filter-modal;
            left: 80px;
            height: 150px;
            width: 350px;

            ul {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;

                li {
                    position: relative;
                    height: 40px;
                    width: 40px;

                    > * {
                        position: absolute;
                    }

                    button {
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                    }
                }

                img {
                    height: 30px;
                    width: 30px;

                }
            }
        }

        .sort-modal {
            @include filter-modal;
            left: 275px;
            
            min-height: 180px;
            width: 556px;

            padding-block-start: 20px;
            padding-inline-end: 52px;

            .sort-options {
                position: relative;
                display: flex;
                justify-content: end;
                gap: 8px;

                height: 40px;
                width: 100%;

                select {
                    position: relative;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                      
                    flex-grow: 1;

                    padding-inline: 14px;
                    border-color: $input-hover-border-clr;
                    border-radius: 4px;

                    &::before {
                        content: "";
                        position: absolute;
    
                        height: 100px;
                        width: 100px;
                        top: 0;
                        right: 0;
                        pointer-events: none;
    
                        background-color: black;
                      }
                }   
            }
            .clear-sort {
                position: absolute;
                right: 12px;
                bottom: 52px;
                
                display: flex;
                justify-content: center;
                align-items: center;

                height: 32px;
                width: 32px;

                padding: 4px;
                background-color: $clr3;
                
                svg {
                    stroke: $clr9;
                }
                &:hover svg {
                    stroke: #323338;

                }
            }
        }

        .toggle-column-modal {
            @include filter-modal;
            left: 375px;

            align-content: start;

            height: 354px;
            width: 340px;
            
            padding-block-end: 8px;

            h4 {
                font-size: rem(16px);

                margin: 4px 8px 8px;
            }

            .search-columns {
                position: relative;
                height: 32px;
                width: 100%;

                margin-block-end: 8px;

                > input {
                    height: 100%;
                    width: 100%;

                    padding-inline-start: 16px;
                    border: $border;
                    border-radius: 4px;

                    &:focus {
                        border-color: $blue3;
                    }

                    &:hover {
                        border-color: $clr5;
                    }

                    transition: border-color 150ms ease;
                }

                span {
                    position: absolute;
                    top: 4px;
                    right: 4px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 24px;
                    width: 24px;

                    padding: 4px;
                    border-radius: 4px;

                    svg {
                        stroke: $clr9;
                    }
                    &:hover {
                        background-color: #f1f0f2;
                    }
                }
            }

            .column-list-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                ul {
                    padding: 12px 0 12px 20px;
                }
                li {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    height: 32px;
                }

                input {
                    height: 16px;
                    width: 16px;

                    margin-inline-end: 8px;
                }

                .select-all {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    gap: 8px;

                    margin: 8px 8px 8px 0;

                    > * {
                        margin: 0;
                    }

                    span {
                        color: $clr4;
                    }
                }

                h6 {
                    display: flex;
                    align-items: center;
                    font-size: rem(14px);
                }
            }

        }

        // .toggle-board-tabs {
        //     height: 24px;
        //     width: 24px;

        //     background-color: $hovered-btns;
        //     padding: 0;
        //     border-radius: 50%;
        //     margin-inline-start: auto;

        //     transition: 100ms;

        //     &:hover {
        //         filter: brightness(0.95);
        //     }
        // }

        .invite-members-modal {
            @include filter-modal;
            right: 16px;
            top: -32px;

            padding: 8px;

            > * {
                width: 100%;
            }

            h4 {
                margin-block-end: 16px;
                padding-inline-start: 8px;
            }

            li {
                position: relative;

                display: flex;
                gap: 4px;
                align-items: center;

                height: 32px;
                width: 100%;

                padding-inline-start: 8px;
                border-radius: 4px;
                &:hover {
                    background-color: #c3c3c327;
                }
                
                button {
                    position: absolute;
                    right: 0;
                    display: none;

                    height: 24px;
                    width: 24px;

                    border-radius: 4px;
                    background-color: unset;

                    &:hover {
                        background-color: $gray1;
                    }
                }
                
                &:hover button {
                    display: flex;
                    align-items: center;

                    svg {
                        stroke: $gray4;
                    }
                }
            }
        }
    }
}
