.board-preview {
	display: flex;
	flex-direction: column;
	gap: $spacing-small;
	
	width: max-content;

	padding: $spacing-small;
	border: 1px solid $gray2;
	border-radius: 10px;

	cursor: pointer;

	&:hover{
		box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
		border-color: transparent;
	}

	h2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		font-size: 1rem;

		span{
			display: flex;
			justify-content: center;
			align-items: center;	
			gap: $spacing-small;
			
			svg {
				height: 20px
			}
		}
	}

	button{
		@include alt-btn;

		border-radius: 50%;
	}
}
