.sidebar {
    position: relative;

    grid-column: 1;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 250px;
    transition: width 0.3s ease;


    border-top-right-radius: $radius;
    margin-right: 10px;
    
    background: linear-gradient(135deg, $clr3 5% , #eceff8 100%);

    &.collapsed {
        position: fixed;
        width: 30px;

        &.hovered {
            // position: fixed;
            width: 250px;

            box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.1);
            z-index: 20;
        }
        
        &:not(.hovered) > *:not(.toggle-sidebar) {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.1s ease 0s;
        }
    }

    > *:not(.toggle-sidebar) {
        transition: opacity 0.2s ease 0.2s;
    }

    &, * {
        font-size: rem(14px);
    }

    a, button {
        border-radius: 4px;
    }

    a:hover, button:hover {
        background-color: $hovered-btns;
    }

    > *:not(nav) {
        margin-inline: 12px;
    }

    svg {
        height: 18px;
        width: 18px;
    }

    .toggle-sidebar {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 38px;
        width: 30px;

        padding: 0;
        border-radius: 0 8px;
        margin: 0;

        background-color: #f6f7fb;

        &.hidden:not(.collapsed *) {
            display: none;
        }

        svg {
            height: 14px;
            width: 14px;
        }
    }

    > nav {
        display: grid;
        grid-template-rows: 32px 32px;
        gap: 2px;
        width: 100%;
        justify-content: baseline;

        padding: 4px 12px;

        > a:first-child {
            width: 80%;
        }

        > a {
            display: flex;
            align-items: center;
            gap: 7px;

            color: $txt-clr;
            height: 32px;

            padding: 0 4px 0 5px;
            margin-inline-end: 8px;
        }
    }

    .favorite-container {
        display: flex;

        padding: 8px 12px;
        border-block: $border;
        margin: 0;
        
        .toggle-favorites {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 7px;

            height: 30px;
            width: 100%;

            // padding: 0;
            padding-inline: 4px;
            margin: 0 4px 0 1px;
            background-color: unset;

            &:hover {
                background-color: $hovered-btns;
            }
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }


    .workspaces-actions {
        display: grid;
        grid-template-columns: 1fr 24px 24px;
        grid-template-rows: repeat(2, 32px);

        padding: 4px 12px;
        margin: 0;

        > * {
            justify-self: start;
            gap: 7px;
        }

        > div {
            display: flex;
            align-items: center;
            grid-column: 1 / 2;

            padding: 6px
        }

        button {
            @include btn;

            background-color: unset;
        }

        .workspace-list-btn {
            grid-column: 1 / -2;

            width: unset;
            padding: 6px;
            margin: 0;

            font-size: 1rem;
            font-weight: 600;
            > div {
                height: 20px;
                width: 20px;

                border-radius: 6px;

                line-height: 1.5;
                font-weight: 200;
                color: $clr3;
                background-color: #595ad4;

                svg {
                    height: 14px;
                    width: 14px;

                    position: relative;
                    top: -50%;
                    right: -30%;
                }
            }
        }

        .add-workspace-item {
            height: 32px;
            width: 32px;

            padding: 0;
            margin: 0;
            background-color: $clr7;

            > svg {
                height: 20px;
                width: 20px;
                color: #fff;
    
            }
        }
    }

    .board-links {
        display: flex;
        flex-direction: column;
        
        > a {
            display: flex;
            align-items: center;
            gap: 7px;
            
            height: 32px;
            
            padding: 4px;
            margin-inline-start: 6px;
        }
    }
}