.task-details {
  display: flex;
  flex-direction: column;
  align-items: start;

  position: fixed;
  top: 48px;
  right: 0;

  width: 500px;
  height: 100%;
  background-color: $clr3;
  padding: 20px;

  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

  transform: translateX(100%);
  transition: transform 75ms linear;
  z-index: 100;

  &.open {
    transform: translateX(0);
  }

  &.closing {
    transform: translateX(100%);
  }

  &.details-top-bar {
    position: relative;

    height: max-content;
  }

  & .details-top-bar::after {
    content: '';
    position: absolute;
    right: 0;

    width: 500px;
    height: 0.5px;
    border-block-end: 1px solid $line-clr;
  }

  & .details-bottom-bar {
    width: 100%;
  }

  & .exit-btn {
    display: flex;
    align-items: start;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 0;
    margin: 0;

    color: $darkgrey;

    &:hover {
      background-color: $hovered-btns;
    }
  }

  & h2 {
    padding-inline: 5px;
    margin-block: $spacing-xs $spacing-small;

    font-size: 1.25em;
    line-height: 30px;
    font-weight: 500;
    font-family: $title-font-family;
  }

  & .task-details-actions {
    display: flex;

    & button {
      @include alt-btn;
      position: relative;

      padding: 8px 14px;
      margin: 0;

      &.active::before {
        content: '';
        position: absolute;
        bottom: 0 - 1px;

        width: 100%;
        height: 2.5px;
        background-color: $blue3;
      }

      &:hover {
        &::after {
          height: 0;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;

        height: 16px;
        border-inline-end: 1px solid $line-clr;
      }
    }
  }

  .activity-log .activity-item:not(:last-child) {
    border-bottom: 1px solid $input-hover-border-clr;
  }

  .activity-item {
    padding: $spacing-small;
    display: flex;
    align-items: center;
    height: 56px;

    font-size: rem(14px);
    text-wrap: nowrap;
    overflow-x: hidden;

    .time {
      flex: 0 0 56px;
    }

    .activity-and-user {
      flex: 1 0 0;
      .activity-task-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 6px;
      }
      .user {
        background-color: $clr1;
        flex: 0 1 auto;
      }
    }

    .additional-values {
      height: 100%;
      flex: 1.5 0 0;

      .type-indicator {
        height: 100%;
        flex: 1.2 0 0;
      }

      .activity-content {
        width: 100%;
        flex: 2.2 0 0;
        height: 100%;
        margin-inline-start: 1rem;

        .status-change,
        .priority-change {
          height: 100%;
          overflow: hidden;
          flex: 1 1 auto;

          .old-value,
          .new-value {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            flex: 1 0 0;

            padding: 0 8px;
            color: $clr3;
            border-radius: 2px;
            line-height: 39px;

            text-align: center;

            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .empty {
            height: 100%;
            width: 100%;

            border-radius: 2px;
            background-color: #c4c4c4;
          }
        }

        .date-change {
          align-items: center;
          justify-content: center;

          flex: 1 1 auto;
        }
      }

      .seperator {
        flex: 0 0 16px;
        height: 100%;
      }
    }

    .member-change {
      width: 100%;
    }
  }
}
