.user-msg {
  position: fixed;
  top: 0;
  left: 50%;
  margin: 16px 0;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;
  //   padding-inline-end: 20px;
  background-color: grey;

  color: white;
  font-size: 0.9em;

  opacity: 0;
  translate: 150%;
  transition: 600ms;

  z-index: 1000;
}

.user-msg.visible {
  opacity: 1;
  translate: 0;
}

.user-msg button {
  background-color: transparent;
  height: 32px;
  width: 32px;
  border: 0;
  padding: 0;
  margin: 0 0 0 8px;

  color: $clr3;
}

.user-msg.success {
  background-color: #00854d;
}
.user-msg.error {
  background-color: rgb(216, 59, 59);
}
