button {
	// background-color: $clr1;
	padding: 5px 10px;
	border: 0;
	margin: 5px;

	color: $clr6;
	background-color: $clr1;
	cursor: pointer;
}

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}
