.main-container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(40px, auto) 1fr;
    grid-template-rows: 48px 1fr;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    background-color: $clr1;

    > * {
        grid-column: 2;

		&.full {
			grid-column: 1 / -1;
		}
	}

    // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }

    > main {
        grid-column: 2 / -1;
        position: relative;

        height: 100%;

        overflow: hidden;

        padding-block-start: 18px;
        // padding: 18px 0 0 6px;
        // border-inline-start: 12px solid $clr3;
        
        border-top-left-radius: $radius;
        background-color: $clr3;
    }
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}
