/* Breakpoint mixins */

@mixin for-mobile-layout {
	@media (max-width: calc($mobile-breakpoint + 40px)) {
		@content;
	}
}

@mixin for-narrow-layout {
	@media (min-width: calc($mobile-breakpoint + 40px)) {
		@content;
	}
}

@mixin for-normal-layout {
	@media (min-width: calc($narrow-breakpoint + 40px)) {
		@content;
	}
}

@mixin for-wide-layout {
	@media (min-width: calc($normal-breakpoint + 40px)) {
		@content;
	}
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
	position: relative;
	overflow: hidden;
	&::before {
		display: block;
		content: '';
		width: 100%;
		padding-top: calc(($height / $width) * 100%);
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	> img {
		height: 100%;
		object-fit: cover;
	}
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
	@media not all and (pointer: coarse) {
		&:hover {
			@content;
		}
	}
}

@mixin boardGridTemplate {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 40px auto;
}

@mixin btn {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 32px;
	width: 32px;

	border-radius: 4px;

	> svg {
		margin: 4px;
	}
}

@mixin alt-btn {
	display: flex;
	justify-content: center;
	gap: 2px;
	align-items: center;

	background-color: #00000000;
	padding: 5px;
	border-radius: 4px;
	margin: 0 $spacing-small 0 0;

	color: $txt-clr;
	font-weight: 400;

	> svg {
		color: $clr4;
	}

	&:hover {
		background-color: $hovered-btns;
	}
}

@mixin context-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;

	padding: 0;
	border-radius: 4px;

	margin: 0;
	background-color: $clr3;
	transition: scale 0.2s;

	opacity: 0;

	&:hover {
		background-color: $hovered-btns;
	}

	&:active {
		scale: 0.9;
	}

	svg {
		height: 16px;
		width: 16px;
	}

	* > &:hover {
		opacity: 1;
	}
}

@mixin get-started-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;

	background-color: $welcome-page-btn-clr;
	padding: 12px 24px;
	border-radius: 100vw;

	color: $clr3;
	transition: 200ms;

	svg {
		transition: transform 350ms ease-in-out;
	}

	&:hover {
		filter: brightness(0.9);

		svg {
			transform: translateX(6px);
		}
	}
}

@mixin color-picker-icon {
	.color-picker-icon {
		position: absolute;
		left: $spacing-small;
		cursor: pointer;
		width: 14px;
		height: 14px;
		border-radius: 25%;
	}
}

@mixin title-count {
	.edit .title-count {
		display: none;
	}
	.title-count {
		opacity: 0;
		font-size: rem(14px);
		margin-inline-start: 10px;
		white-space: nowrap;
		color: $clr4;

		transition: opacity 0.2s;
	}

	&:hover {
		.title-count {
			opacity: 1;
		}
	}
}

@mixin header-inline-edit {
	.group-title-container {
		position: sticky;
		left: 86px;

		display: flex;
		align-items: center;
		height: min-content;

		background-color: $clr3;

		h4 {
			&:hover {
				outline: 1px solid $input-hover-border-clr;
				border-radius: 4px;
				cursor: text;
			}
		}

		input {
			position: relative;
			all: unset;
			cursor: text;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			cursor: text;

			&:focus {
				background-color: #ffff;
				outline: none;
				border-radius: 4px;
			}
		}

		&.edit {
			width: 70vw;
			border: 1px solid $clr7;
			border-radius: 4px;
			input {
				padding-inline-start: 30px;
			}

			.title-count {
				display: none;
			}
		}

		@include color-picker-icon;
		.color-picker {
			display: flex;
			flex-wrap: wrap;
			width: rem(172px);
			background-color: #ffff;
			border: 1px $input-hover-border-clr solid;
			border-radius: 4px;
			padding: 5px;
			justify-content: flex-start;

			.color {
				cursor: pointer;
				height: rem(24px);
				width: rem(24px);
				border-radius: 4px;
				margin: 4px;
			}
		}

		@include title-count;
	}
}

@mixin board-link {
	.link-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-block: 2px;

		&:hover {
			> a:not(.active),
			.board-options:active:not(.open) {
				background-color: rgba(103, 104, 121, 0.044);
			}
		}

		.active + .board-options,
		.board-options.open,
		.board-options:active {
			background-color: #cce5ff;

			&:hover {
				background-color: #aed5fb;
			}
		}

		// #c2e1fd #cae3ff

		.board-options {
			position: absolute;
			right: 8px;

			display: none;
			justify-content: center;
			align-items: center;

			height: 24px;
			width: 24px;

			padding: 4px;
			margin: 0;

			transition: scale 0.2s;

			&:active {
				scale: 0.9;
			}
		}

		&:hover .board-options,
		.board-options.open {
			display: flex;
		}

		> a {
			flex-grow: 1;
		}

		.inline-edit {
			input {
				max-width: min-content;
				border: none;
				background: transparent;

				&:focus {
					outline: 1px solid $clr7;
					border-radius: 4px;
				}
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		gap: 7px;

		height: 32px;

		padding: 4px;
		margin-inline-start: 6px;
	}
}

@mixin filter-modal {
	position: absolute;
	top: 55px;

	display: flex;
	flex-wrap: wrap;

	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 17px 6px #0000001a;
	background-color: $clr3;

	font-size: rem(14px);
	z-index: 2;

	h4 {
		display: flex;
		height: 32px;
		width: 100%;
		align-items: center;
		
		font-size: rem(15px);
		font-family: $main-font-family;
	}
}
