/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }

  @mixin boardGridTemplate {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px auto;
  }

  @mixin btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 32px;

    border-radius: 4px;

    > svg {
        margin: 4px;
    }
  }

  @mixin alt-btn{
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;

    background-color: #00000000;
    padding: 5px;
    border-radius: 4px;
    margin: 0 $spacing-small 0 0;

    color: $txt-clr;
    font-weight: 400;

    > svg{
      color: $clr4;
    }

    &:hover{
      background-color: $hovered-btns;
    }
  }

  @mixin context-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
  
      padding: 0;
      border-radius: 4px;
  
      margin: 0;
      background-color: $clr3;
      transition: scale 0.2s;
  
      opacity: 0;
  
      &:hover {
        background-color: $hovered-btns;
      }
  
      &:active { 
        scale: 0.9;
      }
  
      svg {
        height: 16px;
        width: 16px;
      }
  
    * > &:hover {
      opacity: 1;
    }
  }

  @mixin get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background-color: $welcome-page-btn-clr;
    padding: 12px 24px;
    border-radius: 100vw;

    color: $clr3;
    transition: 200ms;

    svg {
        transition: transform 350ms ease-in-out;
    }

    &:hover {
        filter: brightness(0.90);

        svg {
            transform: translateX(6px) ;
        }
    }
  }